.nevagation-bar{
    width:100%;
    height: 40px;
    background-color: black;
    margin:5px;
    border-radius: 20px;
    display: flex;
    position: sticky;

}
.butt{
text-decoration: none;
 margin: 15px;
 color: white;
 margin-bottom: 13px;
}
.butt:hover{
text-decoration:solid;

}